

/*this color is yellow #fbb222*/
/*this color is lilac #bc84bd*/
/*this color is green #39b54a*/

* {
	box-sizing:border-box; 
}


.main {
	font-family: Arvo, sans-serif;
    background: #fff;  initial color 
    transition: background 2s;
    transition: all 2s ease-in-out;
}

.headings{
	margin: 300px auto 0;
	/*padding-top: 300px;*/
	color:#39b54a;
	letter-spacing: 1.5px;
}

@media (max-width: 645px){
	.headings{
		margin:190px auto 0;
	}	
}

.headings-less-padding{
	margin:150px 0 auto;
	/*padding-top: 150px;*/
	width:100%;
	color:#39b54a;
	letter-spacing: 1.5px;
}

@media (max-width: 645px){
	.headings-less-padding{
		margin:50px auto 0;
	}	
}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 1;
}


.about-green {
	background: #39b54a;
}

.about {
	font-family: Arvo, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #fff;
	/*height: 100vh;*/
	margin-top: 220px;
}


.about p {
	margin: 80px 0 0;
}

/*@media (max-width:500px){
	.about p {
		font-size: 50%;
	}
}*/

.about ul {
	padding: 0;
}

.button-about {
	position: absolute;
	margin-left: 60px;
	padding: 36px 25px;
	border-radius: 100%;
	background-color: #fbb222;
	display: inline-block;
	text-align:left;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	letter-spacing:1px;
	font-family: Arvo, sans-serif;
}
@media (max-width: 855px){
	.button-about {
		position: static;
		margin-left: 20px;

	}
}


.button-about:hover {
	color: #fff;
	cursor: crosshair;
}

.hi-gif {
	width:300px;
}



.logo {
	margin:0 auto;
	width: 500px;
}

@media (max-width: 645px){
	.logo {
		width: 300px;
	}
}

@media (max-width: 469px){
	.logo {
		width: 200px;
	}
}

.floaties {
  height:95vh;
  width:100%;
}

.drawing {
  position:absolute;
  width:100px;
  animation: float 7s infinite;
}

@keyframes float {
  0% {transform:translateY(0)}
  50% {transform:translateY(50px)}
  100% {transform:translateY(0)}
}

.gif {
	background-image: url("https://media.giphy.com/media/b9j2AgTyXs3HW/giphy.gif");
	background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    z-index:-1;
    background-color: #bc84bd;
}

/*slider from here*/
.carousel {
	padding-bottom: 20px;
}

.single-item {
	/*text-align: center;*/
	margin: 35px 0 30px;
	/*padding-bottom:100px;*/
	display:flex;
	justify-content: center;
	align-items: center;
	/*padding-top:30px;*/
	/*padding-bottom: 30px;*/
}

.single-item img {
	width:400px;
	max-width:100%;
	/*text-align: center;*/
	align-self: center;
	margin:0 auto;
}

.fa-chevron-left, .fa-chevron-right {
	font-size: 20px;
	position:absolute;
	top: 50%; /*50% height of parent*/ 
	transform: translateY(-50%); /*50% of its own height. find the middle height exactly.*/
	left:50px;
	z-index: 999;
	color: #39b54a;
}

.fa-chevron-left, .fa-chevron-right:hover {
	cursor: crosshair;
	}

.fa-chevron-right {
	left:auto;
	right:50px;
}

.slick-dots {
	/*padding:0;*/
	text-align:center;
	position: absolute;
	bottom:0;
	width:100%;
	margin:0 auto;
	padding: 0;
}

.slick-dots li{
	display: inline-block;
	height: 5px;
	width: 5px;
	background-color: rgba(57,181,74,0.5);
	border-radius: 50%;
	margin: 0 10px;
}

.slick-dots li.slick-active {
	background-color: rgba(57,181,74,1);
}

.slick-dots li button{
	display:none;
}

.slick-dots:hover {
	cursor: crosshair;

}


/*slider ends here*/


/*grid section starts here*/

.grid {
	margin: 35px 0 20px;
	/*background-color: red;*/

}
.grid-item img{
	width:250px;
	max-width:100%;
	padding: 0 0 36px;
 	transition: transform 5s;
}

.grid-item:hover {
  transform: scale(1.1);
  cursor: crosshair;
}

.grid-item .hvrbox-text{
	visibility: hidden;
	/*width: 250px;*/
	background-color: #bc84bd;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 5px 10px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	font-family: Arvo, sans-serif;
	font-size: 12px;
}

.grid-item:hover .hvrbox-text {
	visibility: visible;
	top: 45%;
	left: 50%;
	transform: translateX(-50%);
	/*margin-left: -50%; */
}
/*grid section ends here*/



/*lightbox starts here*/

.hero-gallery {
	text-align: center;
	margin: 35px 0 100px 0;
	/*padding-top: 100px;
	padding-bottom: 100px;*/
}

.hero-gallery img {
	width:250px;
	max-width: 100%;
}

.hero-gallery img:hover {
	cursor: crosshair;

}

.sl-wrapper .sl-close, .sl-wrapper .sl-counter {
	color:#39b54a;
}

.sl-wrapper .sl-navigation button.sl-next{
	color:#39b54a;
}

.sl-wrapper .sl-navigation button.sl-prev{
	color:#39b54a;
}

.sl-overlay {
	opacity:0.85;
}

/*lightbox ends here*/





/*footer starts here*/

section ul li {
	display: inline-block;
}


section li i {
	/*background-color:white;
	color: purple;*/
	font-family:'FontAwesome';
	font-weight: 30000;
	font-style: normal;
	font-size: 40px;
	margin:10px;
	color: #fff;
	padding-top: 20px;
}

footer h4 {
	font-family: Arvo, sans-serif;
	font-size: 12px;
	padding-bottom:20px;
}

footer {
	/*padding-top:100px;*/
	/*padding-bottom:100px;*/
	margin: 50px 0 50px;
	font-family: Arvo, sans-serif;
	/*font-size: 8px;*/
	letter-spacing: 0.5px;
}


footer ul {
	padding: 0;
	/*margin: px 0 10px;*/
}

footer ul li {
	display: inline-block;

}

footer li i {
	font-family:'FontAwesome';
	font-weight: 30000;
	font-style: normal;
	font-size: 40px;
	margin:10px;
	color: #39b54a;

}




